:root {
    /*--------colors----------*/
    --black-color: #0d0c22;
    --blue-white-color: #f8fafd;
    --blue-color: #c2e7FF;
    --grey-color: #f3f3f4;
    --grey-dark-color: #9e9ea7;
    /*-----padding--------*/
    --section-padding: 1rem;

    /*-----marging------*/
    --margin-left: 1.5rem;

    /* Transition */
    --transition: .3s ease;
    /*------font-size-----*/
    font-family: '-apple-system', 'BlimKMacsSystemfont', 'segoe UI', 'Roboto', 'Helvectica', Arial, sans-serif;

}

body {
    background-color: var(--blue-white-color);
}


/* HEADER */

.header {
    display: flex;
    gap: 3rem;


}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5rem;
    gap: 1rem;

}

.menu_hbg {
    opacity: 0.5;
}


.logo-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo-contact p {
    font-size: 1.5rem;
}


.group {
    display: flex;
    line-height: 28rem;
    align-items: center;
    position: relative;
    padding-right: 3rem;
}

.input {
    width: 30rem;
    height: 2.5rem;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--grey-color);
    color: var(--black-color);
    transition: .3s ease;
}

.input::placeholder {
    color: var(--grey-dark-color);
}


.icon {
    position: absolute;
    left: 1rem;
    fill: var(--grey-dark-color);
    width: 1rem;
    height: 1rem;
}

/* MAIN */

.menu_containe-list{
    margin-top: 2rem;
    margin-left: 1rem;
}
/* container */
.container {
    display: flex;
    position: absolute;
    margin-top: 1.5rem;
    gap: 3rem;
}

/* menu */
/* contact__input */
/* .contact__input {
    margin-top: 2rem;
    margin-left: 1rem;
}
  */
/* create contact */
.create-contact {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 10rem;
    height: 2rem;
    padding:  0.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    background-color: var(--blue-color);
    color: var(--black-color);

}

.icon__create-contact {
    background-color: var(--blue-color);
    color: var(--black-color);
}

/* contact info */
.contact-info {
    display: flex;
    align-items: center;
    /* position: relative; */
    gap: 0.5rem;
    width: 12rem;
    height: 1rem;
    padding: 1rem;
    border: 0.5px solid transparent;
    border-radius: 10rem;
    background-color: var(--blue-color);
    color: var(--black-color);
}

/* frequence contacts */
.frequence__contact {
    display: flex;
    /* line-height: 28rem;  */
    align-items: center;
    margin-top: 1rem;
    /* position: relative; */
     padding-left: var(--section-padding);
    /* padding-top: var(--section-padding); */
    /* gap: 1rem;  */

}


.frequence__contact p {
    font-size: 1.1rem;
}


/* libellés */
.libelles__contact {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    /* position: relative; */
    gap: 8rem;
    /* padding-left: var(--section-padding);
    padding-top: var(--section-padding); */
}
.windowdark{
    display: none;
    position: absolute;
    background-color: #0d0c2249;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.create-libelles{
    background-color: #ffffff;
    opacity: 1;
    width: 22rem;
    height: 15.5rem;
    border-radius: 3rem;   
    position: absolute;
    top: calc(38% - 50px / 2); 
    left: calc(40% - 50px / 2); 
    z-index: 2;
}
.title-libelle{
   margin-left: 2rem;
    font-size: 1.5rem;
    padding-top: 1rem;
    /* margin-bottom: 2rem; */
}
#text{
    display: block;
     margin: 0 auto; 
    width: 15rem;
    height: 3rem;
}
.libelles-p{
    margin-top: 1.7rem;
    margin-right: 2rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.register{
    border-radius: 2rem;
    padding: 7px;
}
.register:hover{
    background-color: #c2e7FF;
}
.nothing{
    border-radius: 2rem;
    padding: 7px;
}
.nothing:hover{
    background-color: #c2e7FF;
}
/* affichage de info ou contenu qui ce trouve dans chaque section */
.section-affiche {
    background-color: #ffffff;
     width: 80vw;
     height: 40vw;
    border-radius: 3rem; 
    padding: 15px;
   
}

.onglets_content-form-contact{
    display: none;
}
.onglets_content-contact{
    display: none;
}
.onglets_content-frequence{
    display: none;
}
form {
    display: flex;
    flex-direction: column;  
}
.ajout-contact{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 75%;
    height: 2rem;
    padding:  0.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    background-color: var(--blue-color);
    color: var(--black-color);
}
.onglets_content{
    padding-top: 3rem;
}
.arrow-contact{
    padding-left: 3rem;
}
.text-onglets_content{
 margin: 1.5rem;
 font-size: 1.5rem;
 opacity: 0.75;
}
.title-onglets-content{
    display: flex;
    
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    gap: 6rem;
    border-bottom: 1px solid gray;
    width: 95%;
    opacity: 0.75;
}
/*  affiche le contact */
th, td{
    padding: 20px;
    text-align: left;
}
th{
    border-bottom: 1px solid  black;
}
table{
    width: 100%;
}
.contact-profil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b57d0;
    color: white;
    font-size: 20px;
}
.title-col{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-labels-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.label-view{
    padding: 10px;
    border-radius: 10px;
    border: solid 1px grey;
    background-color: rgba(245, 222, 179, 0.303);
}
/* page de modification */

.header-modify{
    margin-top: 2.5rem;
    display: flex;
   align-items: center;
   gap: 55rem;
}
.arrow-modify{
    padding-left: 3rem;
}
.content-modify{
    display: flex;
    align-items: center;
    gap: 1.2rem;
  
}
.button{
    display: flex;
    justify-content: center;
    padding: 7px;
    width: 5rem;
    background-color: #0b57d0;
    border-radius: 2rem;
    color: #ffffff;
}
.button:hover{
    opacity: 0.95;
    box-shadow: rgba(0, 0, 0, 1) 1px 1px 3px;
}
/* RESPONSIVE WEB */

/* télephone */
/* @media screen and (min-width : 320px) and (max-width : 767px) {
    body{
        min-width: 100%;
    }
    .logo-contact {
        display: none;
    }

    .menu {
        display: none;
    }

    .section-affiche {
        width: 22rem;
        height: 40rem;
    }

    .input {
     width: 15rem;

    }
} */

/* tablette */
/* @media screen and (min-width : 768px) and (max-width : 992px) {
    
    .menu {
        display: none;
    }
    .section-affiche {
        width: 51rem;
        height: 61rem;
    }
    

} */